body {
  background-image: url("../img/trees.jpg");
  background-position: center;
  background-size: auto;
}

.projects h3 {
  background-color: lightblue;
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

.gen-ed {
  text-align: center;
  border: 1px solid black;
  width: 360px;
  margin-left: auto;
  margin-right: auto;

  background-color: lightblue;
}


.gen-ed p {
  padding: 5px;
  width: 350px;
  text-align: left;
}


.video-games img {
  float: right;
  padding: 10px;
}

.video-games {
  padding-left: 140px;

}

.netflix p {
  padding: 5px;
  margin-left: 50px;
  margin-right: 50px;
}



.tv-movie h4 {
  text-align: left;
  padding-left: 30px;

}

.free-time h3 {
  border: 1px solid black;
  width: 140px;
  padding: 2px;
}

.interests {
  width: 300px;
}

.jobs {
  border: 1px solid black;
  background-color: lightblue;
  margin-left: 2px;
  margin-right: 2px;
  width: 32.7%;
  margin-top: 10px;
}

.jobs p {
  padding: 1px;
}

.intro {
  text-align: center;
  border: solid 2px black;
  background-color: lightblue;
  color: black;
  width: 700px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;

}

.intro a {
  margin-bottom: 140px;

}

.school {
  font-weight: bold;
  text-decoration: underline;
}

.music {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  float: right;
}

.music p {
  padding: 3px;
  margin-left: 3px;
  margin-right: 3px;

}

.music-box {
  float: right;
  margin-right: 900px;
  border: 1px solid black;
  background-color: lightblue;

}

.see-music {
  border: 1px solid black;
  background-color: lightblue;
}

.music-box ol {
  padding-right: 5px;
}


.intro h1 {
  padding: 2px;
  font-family: fantasy;
}

.silly {
  font-family: monospace;
  font-weight: bold;
  font-style: italic;
}

.meone {
  opacity: 0.6;
  margin-bottom: 10px;
  width: 300px;
  border: solid 2px black;
  margin-right: px;
}

.metwo {
  opacity: 0.6;
  margin-bottom: 10px;
  width: 300px;
  border: solid 2px black;
  margin-left: px;
}

#bravery {
  color: pink;
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
  opacity: .2;
}

.tv {
  margin-left: 200px;
}

.proj {
  border: solid 1px black;
  background-color: lightblue;
  width: 240px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;


}

.proj p {
  text-align: center;
  width: auto;
  height: auto;
  padding: 5px;
}
